<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container" id="heading">
    <% if(kindOfDay==="saturday"||kindOfDay==="sunday") { %>
        <h1 style="color: coral;"><%= kindOfDay %></h1>
    <% } else{ %>
        <h1 style="color: rgb(249, 249, 252);"><%= kindOfDay %></h1>
    <% } %>
</div>
    <div class="container">
                <% for(let i=0;i<newListItems.length;i++){ %>
                    <div class="item">
                    <input type="checkbox"> 
                    <p><%= newListItems[i] %></p>
                    </div>
                    <% } %> 
    <form action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" required autocomplete="off">
        <button type="submit" name="button">+</button>
    </form>
</div>
</body>
</html>